/**************************** MAPA E INFORMACIÓN *******************************************************/

.box {
    display: flex; /*permite colocar los elementos flotantes de manera vertical pero de manera equidistante*/
    width: 95%;
    margin: auto;
    flex-wrap: wrap; /*alinea al eje central de la pagina*/
    border-radius: 3px;
}

.mapa {
    width: 98.7%;
    border: 4px solid #545377; 
    box-shadow: 5px 5px 5px teal; 
}

.contenedor {
    left: 55px;
    top: 20px;
    width: 500px;
    position: relative;
    object-fit: cover;
    color: #545377;
    /*border: 4px solid #545377;
    box-shadow: 5px 5px 5px teal;*/
    box-sizing: border-box;
    display: inline-block;
}

.contenedor .imagen {
    position: relative;
}

.contenedor .imagen img{
    max-width: 100%;
    transition: transform 1s;
}

.contenedor .imagen:hover img{
    transform: scale(1.1);
}

.contenedor .texto {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background: rgba(255,255,255,1);
    transform: scaleY(0);
    transition: transform .5s;
}

.contenedor:hover .texto{
    transform: scaleY(1);
}

.contenedor .texto li{
    text-align: center;
    color: #545377;
    font-size: 16px;
    padding-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left justify;
}

/*************************** FORMULARIO *************************************************/

.fondo { 
    background-image: url(../img/fondo4.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: -2px;
    padding-bottom: 20px;
}

.titulo-formulario {
    font-size: 25px;
    margin: -4px 0 0 12%;
    color: #545377;
}

.box .formulario {
    box-sizing: border-box;     
    /*display: flex;*/
    height: 625px;
    margin: 1% 10% 1% 2%; 
    padding: 1em 3em; 
    background: white; 
    border: 4px solid #545377; 
    box-shadow: 5px 5px 5px teal; 
}

/*esto significa a cada div del formulario*/
.formulario > div {
    position: relative;
    padding: 10px 0;
    margin-bottom: 10px;
}

.box .usuario input, .box .email input, .box .telefono input{
    font-size: 18px;
    padding: 1em;
    display: block;
    background: white; 
    color: #545377; 
    width: 93%;
    height: 0.3em;
    border: none;
    border-bottom: 1.5px solid #aaa1a1;
}

/*focus representa un elemento (como una entrada de formulario) que ha recibido el foco. Generalmente se activa cuando el usuario hace clic, toca un elemento o lo selecciona con la tecla "Tab" del teclado.*/
.box .usuario input:focus, .box .email input:focus, .box .telefono input:focus {
    outline: none;
    background: #bbd8f2;
    opacity: 0.4;
    border-bottom: 1.5px solid blue;
}

/*********************** Label **************************************/

.box .usuario label, .box .email label, .box .telefono label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    left: 5px;
    top: 18px;
    transition: all 0.3s ease;
    pointer-events: none;
}

.box .mensaje label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    left: 5px;
    top: 80px;
    transition: all 0.3s ease;
    pointer-events: none;
}

/***************** TEXTAREA *************************/

.box .mensaje textarea {
    margin-top: -5%;
    padding: 1%;
    display: block;
    background: white;
    font-size: 18px;
    color: #636363;
    width: 97%;
    border: none;
    border-bottom: 1.5px solid #aaa1a1;
}

.box .mensaje textarea:focus {
    outline: none;
    background: #bbd8f2;
    opacity: 0.6;
    border-bottom: 1.5px solid blue;
}

/******CHECKBOX***********/

.box .titulo-asunto {
    text-align: center;
    font-size: 16px;
    color: darkblue;
    padding: 2%;
    margin-top: -10px;
    width: 100%;
    text-align: center;
    border-bottom: 1.5px solid darkblue;  
    text-transform: uppercase;
}

/*eliminamos las casillas para rellenar los checkbox*/
.box .checkbox input{
    display: none;
}

/*editamos las etiquetas label a nuestro gusto*/
.box .checkbox label {
    color: #0074D9;
    top: -8px;
    margin-bottom: 5px;
    padding: 8px 15px 5px 48px; 
    display: block; /*necesario para trabajar el padding ya que label por defecto lo tiene*/
    position: relative;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer; /*para que parezca un enlace que podamos hacer click*/
    transition: 0.3s ease;
}

.formulario .checkbox label:hover {
    top: -5px;
    background: rgba(0, 116, 217, 0.3); /*el último valor es la opacidad que queremos darle al color*/
}

/*BEFORE permite poder agregar propiedades css antes de la etiqueta label. Si la etiqueta label es el texto, lo que queremos editar antes es el cuadradito del checkbox*/
.formulario .checkbox label:before {
    content: ""; /*esta etiqueta es necesaria siempre con before*/
    width: 15px;
    height: 15px;
    display: inline-block;
    background: none;
    border: 2px solid #0774D9;
    border-radius: 3px;
    position: absolute;
    left: 15px;
    top: 4px;
}

/*Con esto al presionar el checkbox se elimina la etiqueta. En el imput de tipo checkbox cuando esté seleccionado vamos a editar los estilos de label*/
.formulario .checkbox input:checked + label {
    padding: 5px 15px;
    background: #0774D9;
    border-radius: 5px;
    color: white;
}

/*Cuando el checkbox esté seleccionado queremos editar el label en su estado before*/
.formulario .checkbox input:checked + label:before {
    display: none;
}

/*****************BOTÓN ENVIAR*********************/

/* Button */
.boton-enviar {
    top: -25px;
    position: relative;
    background-color: #0774D9;
	text-decoration:none;
    width: 100%;
    height: 7%;
    margin-top: 1%;
    padding-right: 1%;
	display:inline-block;
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
    text-align: center;
    color: white;
    font-size: 18px;
    font-family: Verdana;
    letter-spacing: 1px; 
    border: 1.5px solid lightblue;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.7s ease;
}

.boton-enviar:hover {
	background-color: #398ddb;
	color: #ded7d7;
	opacity: 0.8; 
}

/******************** ANIMACIONES *******************/

.box .usuario input:focus ~ label,
.box .usuario input:valid ~ label{
    top: -7px;
    left: 10;
    color: #7ea8b5;
    font-size: 14px;
    font-weight: bold;
}

.box .email input:focus ~ label,
.box .email input:valid ~ label{
    top: -7px;
    left: 10;
    color: #7ea8b5;
    font-size: 14px;
    font-weight: bold;
}

.box .telefono input:focus ~ label,
.box .telefono input:valid ~ label{
    top: -7px;
    left: 10;
    color: #7ea8b5;
    font-size: 14px;
    font-weight: bold;
}

.box .mensaje textarea:focus ~ label,
.box .mensaje textarea:valid ~ label{
    top: -30px;
    left: 10;
    color: #7ea8b5;
    font-size: 14px;
    font-weight: bold;
}

.box .usuario input:focus, 
.box .email input:focus.
.box .telefono input:focus,
.box .mensaje textarea:focus{
    border-bottom: 2px solid darkblue;
    background: lightblue;
    opacity: 0.2;
}