/* Menú */
body {
    background-color: white;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    width:100%;
}
.nav {
    background-color: white;
    color: black;
    width: 100%;
    height: 30px;
    border-bottom: 1px solid black;
    display: inline-block;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 100;
}
.menu {
    float: left;
    padding: 8px 50px;
    margin-left: 18px;
    animation-duration: 0.6s ;
}
.etiqueta {
    text-decoration: none;
    color: black;
}
.ico_rana {
    margin-top: -9px;
    height: 35px;
    width: 35px;
}
.ico_perfil {
    height: 20px;
    width: 20px;
}
.ico_carrito {
    height: 20px;
    width: 20px;
} 
.etiqueta:hover {
    text-shadow:  0.1em 0.1em 0.2em gray;
}
.ico_rana:hover {
    transform: scale(1.5);
}
.ico_carrito:hover {
    transform: scale(1.5);
}
/* Página Inicio */
.contenedorindex{
    background-image: url(../img/index.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    
}
.ico_perfil:hover {
    transform: scale(1.5);
}
.contenedor {
    margin-top: -2px;
    display: flex;
    position: relative;
    height: 440px;
}
.contenedor img {
    width: 100%;
    height: 100%;
}
.fade::after {
    content: "Xiaomi Mi 9";
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.5s ease;
}
.fade:hover::after {
    opacity: 0.5;
}
/* Pie de Página */
footer {
    background-image: url(../img/footer.png);
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    clear: both;
    color: black;
    font-weight: bolder;
    font-size: 0.8;
    margin-top: 20px;
    overflow-y: auto;
    padding: 20px;
    border-top: 1px solid black;
}
footer div h3{
    margin-bottom: 10px;
    font-size: 13px;
    
} 
footer p {
    font-size: 12px;
    margin-bottom: 8px;
}
footer div {
    margin-right: 30px;
}
.cajas {
    margin-top: 30px;
    margin-left: 60px;
    float: left;
    text-align: left;
    align-items: center;
    height: 160px;
    width: 200px;
    width: 150px;

}
.contenido {
    display: flex;
    height: 28em;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    position: relative;
}
.etiquetas {
    height: 15em;
    width: 15em;
    transition-duration: 1300ms;
    box-shadow: 3em 3em 3em gray;
}
.rojo {
    background-color: rgba(240, 50, 50, 0.61);
}
.rojo:hover {
    transform: rotate(45deg);
    box-shadow: 3em 3em gray;
}
.azul {
    background-color: rgba(66, 199, 199, 0.678);
}
.azul:hover {
    transform: rotate(45deg);
    box-shadow: 3em 3em gray;
}
.verde {
    background-color: rgba(50, 205, 50, 0.534);
}
.verde:hover {
    transform: rotate(45deg);
    box-shadow: 3em 3em gray;
}
.ico_etiqueta {
    height: 100px;
    width: 100px;
    position: absolute;
    margin-top: 60px;
    margin-left: 60px;
    z-index: 0;
}
.img-introduccion img {
    height: 450px;
    width: 500px;
    filter: drop-shadow(0px 2em 3px black);
    animation: drop 1.5s ease;
    margin-left: 10em; 
}
.introduccion{
    flex: 1;
    margin-left: 5em;
}
.img-introduccion{
    flex: 1;
    justify-content: center;
}
.intro-text h1{
    font-size: 44px;
    font-weight: 500;
    background: linear-gradient(to right, #494964, #6f6f89);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 30px;
}
.intro-text p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 5px;
    font-size: 22px;
    color: black;
}
.botones {
    padding: 50px 0px 0px 0px;
}
.seleccionar {
    border: 2px solid #494964 ;
    background: rgba(165, 170, 165, 0.534);
    color: black;
    height: 30px;
    width: 110px;
    cursor: pointer;
    font-size: 13px;
}
.seleccionar:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.seleccionar:focus{outline: 0;}
.cart{
    background-color:#494964;
    height: 30px;
    width: 110px;
    border: none;
    font-size: 13px;
    color: white;
    cursor: pointer;
    margin: 30px 0px 0px 30px;
}
.cart:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
.cart:focus{outline: 0;}
.presentacion {
    display: flex;
    margin: auto;   
    align-items: center;
}
@keyframes drop {
    0% {
        opacity: 0;
        transform: translateY(-80px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
.social {
    width: 300px;
    margin-left: 10em;
    width: 200px;
    float: right;
    margin-left: 100px;
}
.social_ico {
    padding: 0px 0px 0px 30px;
    height: 30px;
    width: 30px;
}
.social_ico:hover {
    transform: scale(1.5);
    transition: 0.5s ease;
}
/**************************** MAPA E INFORMACIÓN *******************************************************/

.box {
    display: flex; /*permite colocar los elementos flotantes de manera vertical pero de manera equidistante*/
    width: 95%;
    margin: auto;
    flex-wrap: wrap; /*alinea al eje central de la pagina*/
    border-radius: 3px;
}

.mapa {
    width: 98.7%;
    border: 4px solid #545377; 
    box-shadow: 5px 5px 5px teal; 
}

.contenedor-contacto {
    left: 55px;
    top: 20px;
    width: 500px;
    position: relative;
    object-fit: cover;
    color: #545377;
    /*border: 4px solid #545377;
    box-shadow: 5px 5px 5px teal;*/
    box-sizing: border-box;
    display: inline-block;
}

.contenedor-contacto .imagen {
    position: relative;
}

.contenedor-contacto .imagen img{
    max-width: 100%;
    transition: transform 1s;
}

.contenedor-contacto .imagen:hover img{
    transform: scale(1.1);
}

.contenedor-contacto .texto {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background: rgba(255,255,255,1);
    transform: scaleY(0);
    transition: transform .5s;
}

.contenedor-contacto:hover .texto{
    transform: scaleY(1);
}

.contenedor-contacto .texto li{
    text-align: center;
    color: #545377;
    font-size: 16px;
    padding-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left justify;
}

/*************************** FORMULARIO *************************************************/

.fondo { 
    background-image: url(../img/fondo4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    margin-top: -2px;
    margin-bottom: -20px;
    
}
.titulo-formulario {
    font-size: 25px;
    margin: -4px 0 0 12%;
    color: #545377;
}

.box .formulario {
    box-sizing: border-box;     
    /*display: flex;*/
    height: 625px;
    margin: 1% 10% 1% 2%; 
    padding: 1em 3em; 
    background: white; 
    border: 4px solid #545377; 
    box-shadow: 5px 5px 5px teal; 
}

/*esto significa a cada div del formulario*/
.formulario > div {
    position: relative;
    padding: 10px 0;
    margin-bottom: 10px;
}

.box .usuario input, .box .email input, .box .telefono input{
    font-size: 18px;
    padding: 1em;
    display: block;
    background: white; 
    color: #545377; 
    width: 93%;
    height: 0.3em;
    border: none;
    border-bottom: 1.5px solid #aaa1a1;
}

/*focus representa un elemento (como una entrada de formulario) que ha recibido el foco. Generalmente se activa cuando el usuario hace clic, toca un elemento o lo selecciona con la tecla "Tab" del teclado.*/
.box .usuario input:focus, .box .email input:focus, .box .telefono input:focus {
    outline: none;
    background: #bbd8f2;
    opacity: 0.4;
    border-bottom: 1.5px solid blue;
}

/*********************** Label **************************************/

.box .usuario label, .box .email label, .box .telefono label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    left: 5px;
    top: 18px;
    transition: all 0.3s ease;
    pointer-events: none;
}

.box .mensaje label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    left: 5px;
    top: 80px;
    transition: all 0.3s ease;
    pointer-events: none;
}

/***************** TEXTAREA *************************/

.box .mensaje textarea {
    margin-top: -5%;
    padding: 1%;
    display: block;
    background: white;
    font-size: 18px;
    color: #636363;
    width: 97%;
    border: none;
    border-bottom: 1.5px solid #aaa1a1;
}

.box .mensaje textarea:focus {
    outline: none;
    background: #bbd8f2;
    opacity: 0.6;
    border-bottom: 1.5px solid blue;
}

/******CHECKBOX***********/

.box .titulo-asunto {
    text-align: center;
    font-size: 16px;
    color: darkblue;
    padding: 2%;
    margin-top: -10px;
    width: 100%;
    text-align: center;
    border-bottom: 1.5px solid darkblue;  
    text-transform: uppercase;
}

/*eliminamos las casillas para rellenar los checkbox*/
.box .checkbox input{
    display: none;
}

/*editamos las etiquetas label a nuestro gusto*/
.box .checkbox label {
    color: #0074D9;
    top: -8px;
    margin-bottom: 5px;
    padding: 8px 15px 5px 48px; 
    display: block; /*necesario para trabajar el padding ya que label por defecto lo tiene*/
    position: relative;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer; /*para que parezca un enlace que podamos hacer click*/
    transition: 0.3s ease;
}

.formulario .checkbox label:hover {
    top: -5px;
    background: rgba(0, 116, 217, 0.3); /*el último valor es la opacidad que queremos darle al color*/
}

/*BEFORE permite poder agregar propiedades css antes de la etiqueta label. Si la etiqueta label es el texto, lo que queremos editar antes es el cuadradito del checkbox*/
.formulario .checkbox label:before {
    content: ""; /*esta etiqueta es necesaria siempre con before*/
    width: 15px;
    height: 15px;
    display: inline-block;
    background: none;
    border: 2px solid #0774D9;
    border-radius: 3px;
    position: absolute;
    left: 15px;
    top: 4px;
}

/*Con esto al presionar el checkbox se elimina la etiqueta. En el imput de tipo checkbox cuando esté seleccionado vamos a editar los estilos de label*/
.formulario .checkbox input:checked + label {
    padding: 5px 15px;
    background: #0774D9;
    border-radius: 5px;
    color: white;
}

/*Cuando el checkbox esté seleccionado queremos editar el label en su estado before*/
.formulario .checkbox input:checked + label:before {
    display: none;
}

/*****************BOTÓN ENVIAR*********************/

/* Button */
.boton-enviar {
    top: -25px;
    position: relative;
    background-color: #0774D9;
	text-decoration:none;
    width: 100%;
    height: 7%;
    margin-top: 1%;
    padding-right: 1%;
	display:inline-block;
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
    text-align: center;
    color: white;
    font-size: 18px;
    font-family: Verdana;
    letter-spacing: 1px; 
    border: 1.5px solid lightblue;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.7s ease;
}

.boton-enviar:hover {
	background-color: #398ddb;
	color: #ded7d7;
	opacity: 0.8; 
}

/******************** ANIMACIONES *******************/

.box .usuario input:focus ~ label,
.box .usuario input:valid ~ label{
    top: -7px;
    left: 10;
    color: #7ea8b5;
    font-size: 14px;
    font-weight: bold;
}

.box .email input:focus ~ label,
.box .email input:valid ~ label{
    top: -7px;
    left: 10;
    color: #7ea8b5;
    font-size: 14px;
    font-weight: bold;
}

.box .telefono input:focus ~ label,
.box .telefono input:valid ~ label{
    top: -7px;
    left: 10;
    color: #7ea8b5;
    font-size: 14px;
    font-weight: bold;
}

.box .mensaje textarea:focus ~ label,
.box .mensaje textarea:valid ~ label{
    top: -30px;
    left: 10;
    color: #7ea8b5;
    font-size: 14px;
    font-weight: bold;
}

.box .usuario input:focus, 
.box .email input:focus,
.box .telefono input:focus,
.box .mensaje textarea:focus{
    border-bottom: 2px solid darkblue;
    background: lightblue;
    opacity: 0.2;
}
.fondo_inst {
    background: linear-gradient(to bottom, rgb(37, 36, 36), rgb(143, 143, 143));
}
    .cuerpo {
      margin: 30px auto;
      overflow-y: auto;
      width: 80%;
        display: flex;
    }
    .cuerpo iframe{
    float: left;
    margin-left: 10%;
    width: 20%;
    }
    
    .cuerpo div {
      float: right;
      margin-top: 20px;
        margin-left: 50px;
      text-align: justify;
      width: 50%;
    }
      
    .main {
      margin: 0px auto;
      width: 80%;
    }
    .main h1 {
      text-align: center;
    }
    
    .main h1::after,
    .main:after {
      display: block;
      content: " ";
      height: 2px;
      width: 30%;
      margin: 0px auto;
      margin-top: 30px;
    }  
    .cards {
      overflow-y: auto;
    }
    .cards .card {
      float: left;
      padding: 20px;
      text-align: center;
      width: 33%;
    }
    .cajas a{
        text-decoration: none;
        color: rgb(207, 157, 138);
    }
    .cards .card img {
      width: 50%;
        animation: ani 3s ease;
    }   
    .cuerpo2{
      margin-top: 10px;
      text-align: justify;
      width: 50%; 
        margin-left:350px;
        margin-right: 2px;
    }
    @keyframes ani {
        0% {
            opacity: 0;
            transform: translateY(-80px);
        }
        100% {
            opacity: 1;
            transform: translateY(0px);
        }
    }
/* Página servicios */
.servicios{
    background-image: url(../img/servicios.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
.serv_cont {
    margin-top: -1px;
    height: 50em;
    width: auto;
    margin-right: 5em;
    margin-left: 5em;
}
.serv_box_fst {
    height: 300px;
    margin-top: 5em;
    display: flex;
    justify-content: space-around;
    margin-top: 5em;
}
.serv_box {
    border-radius: 20px;
    background-color: rgba(20, 145, 167);
    margin-top: 5em;
    height: 10em;
    width: 20em;
    border: 1px solid white;
}
.serv_box h1 {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
}
.serv_box p{
    text-align: center;
    margin-top: 25px;
    font-size: 15px;
}
.slider {
    width: 50%;
    height: 50%;
    margin: auto;
    overflow: hidden;
    margin-top: 5em;
}
.slider ul{
    display: flex;
    padding: 0px;
    width: 500%;
    animation: slide 20s infinite linear;
}
.slider li {
    width: 100%;
    list-style: none;
}
.slider img {
    width: 100%;
}
.tamaño{
    width: 600px;
    height: 300px;
}
@keyframes slide {
    0%{
        margin-left: 0;
    }
    15%{
        margin-left: 0;
    }
    20%{
        margin-left: -100%;
    }
    35%{
        margin-left: -100%;
    }
    40%{
        margin-left: -200%;
    }
    55%{
        margin-left: -200%;
    }
    60%{
        margin-left: -300%;
    }
    75%{
        margin-left: -300%;
    }
    80%{
        margin-left: -400%;
    }
    95%{
        margin-left: -400%;
    }
}
/* Login */
div.acceder{
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    float: right;
}
div.acceder #login-content{
    position: absolute;
    top: 35px;
    right: 0;
    z-index: 999;
    background-color: #fff;
    padding: 15px;
    width: 250px;
    border-radius: 10px 0 10px 10px;
    display: none;
    border: 1px solid black;
    
}
input#usuario, input#pass{
    background-color: #f1f1f1;
    padding: 6px 5px;
    margin-bottom: 10px;
    width: 240px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#btVerificar{
    background-color: #359AC2;
    border: 1px solid #044E6B;
    float: left;
    height: 28px;
    width: 100px;
    padding: 0;
    font: bold 14px Arial;
    color: #fff;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    cursor: pointer;
    transition: 1s ease;
    border-radius: 25px;
}
#btVerificar:hover{
    background-color: #044E6B;
}
.lab{
    float: right;
    line-height: 28px;
    font-size: 14px;
    color: #666;
}
.qs-izq img{
    float: left;
    height: 50em;
}
.qs_der img{
    float: right;
    height: 50em;
}
